// Styles du composant racine

.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 24px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

main {
  min-height: 100vh;
}
